@import url('https://fonts.googleapis.com/css?family=Oxygen');
* {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
section {
  background: url('https://cdn.pixabay.com/photo/2017/08/31/20/14/blue-2702172_960_720.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.container {
  background: rgba(103, 58, 183, 0.7);
  height: 350px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 700px;
}
.container .form-content h2 {
  margin-bottom: 20px;
}
.container .form-content,
.container .login-form {
  float: left;
  height: 350px;
  position: relative;
  width: 50%;
}
.container .login-form {
  background: #fff;
  box-shadow: -20px 0 15px rgba(0,0,0,0.2);
  height: 380px;
  padding: 30px;
  top: -15px;
}
.container .login-form h1 {
  color: #262626;
  margin-bottom: 20px;
}
.container .login-form input {
  border: 2px solid #ccc;
  border-radius: 25px;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
  padding: 10px;
  width: 100%;
}
.container .login-form input:hover,
.container .login-form input:valid {
  border: 2px solid #673ab7;
}
.container .login-form input[type="submit"] {
  background: #673ab7;
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
}
.container .login-form input[type="submit"]:hover {
  background: #ff0057;
  border: 2px solid #ff0057;
}
.container .login-form a {
  color:#673ab7;
  font-weight: bold;
  text-decoration: none;
}
.container .form-content {
  color: #fff;
  padding: 40px 30px;
}
.container .form-content a {
  background: #ff0057;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  text-decoration: none;
}
